
.Text{
  font-family: "Google Sans Code", monospace;
  color: white;
  text-shadow: 0px 0px 5px black;
}

body {
    background-image: linear-gradient(rgb(6, 2, 24),rgb(85, 115, 150), rgb(6, 2, 24));
    background-repeat: no-repeat;
    background-color: black;
}

.header {
    color: white;
    font-family: "Google Sans Code", monospace;
    width: 100%;
}

.header a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: text-shadow 0.2s ease-out;
    color:white;
}

.header a:hover{
    text-shadow: 0px 0px 4px white;
    color: rgb(255, 255, 255);
}

.header ul{
    overflow: hidden;
    list-style: none;
    padding: 5px;
    margin: 0px;
    background-image: url("../img/background-1.jpg");
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 0px black;
}

.header li{
    float: left;
    padding: 3px;
    margin: 5px;
    background-image: linear-gradient(black, rgba(0,0,0,0));
    border: 2px solid rgba(255, 255, 255, 0.336);
    transition: box-shadow 0.2s;
    transition: border-color 0.2s;
}

.header li:hover{
    background-image: url("../img/background-1.jpg");
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 2px black;
}

#logo {
    display: flex;
    justify-content: right;
    align-items: right;
    background-image: url("../img/sunnflwr.png");
    width: 284px;
    height: 74px;
    position:sticky;
}